option_settings:
  - option_name: API
    value: v54.0
  - option_name: AppKey
    value: 3MVG9riCAn8HHkYVFW0U_7xjq2bUKLKGqn7XXu9uwqYzMpdDwKE3pd52mlo_.Llshu0fLKrmYXrZWzCtKkfp7
  - option_name: AppSecret
    value: DAD2F8C785A74D312A9E0889108302C8B90956DFDF03318C13DF9F0E560C15A4
  - option_name: Username
    value: adrianvillar@live.com.godaddy
  - option_name: Password
    value: ABCabc123!!!
  - option_name: UserToken
    value: 96LSwz8ILhSr9tKSkhcC9q0e
